<form [formGroup]="loginForm" (ngSubmit)="onLogin()">
  <p>
    <mat-form-field>
      <mat-label for="login">Login</mat-label>
      <input matInput type="text" name="login" formControlName="login">
    </mat-form-field>
    <span *ngIf="shouldShowErrors()">
      <span *ngIf="loginForm.get('login')?.errors?.['required']">
        login est obligatoire
      </span>
      <span *ngIf="loginForm.get('login')?.errors?.['minlength']">
        login doit être au moins de 3 charactères
      </span>
    </span>
  </p>
  <p>
    <mat-form-field>
      <mat-label for=""password>Password</mat-label>
      <input matInput type="password" name="password" id="password" formControlName="password">
    </mat-form-field>
  </p>
  <button mat-button color="primary" type="submit" [disabled]="!loginForm.valid">Login</button>
</form>
