<form [formGroup]="loginForm" (ngSubmit)="onLogin()">
  <p>
    <label for="login">Login</label>
    <input type="text" name="login" formControlName="login">
    <span *ngIf="shouldShowErrors()">
      <span *ngIf="loginForm.get('login')?.errors?.['required']">
        login est obligatoire
      </span>
      <span *ngIf="loginForm.get('login')?.errors?.['minlength']">
        login doit être au moins de 3 charactères
      </span>
    </span>
  </p>
  <p>
    <label for="password">Password</label>
    <input type="password" name="password" id="password" formControlName="password">
  </p>
  <button type="submit" [disabled]="!loginForm.valid">Login</button>
</form>
