<form [formGroup]="loginForm" (ngSubmit)="onLogin()">
  <p>
    <mat-form-field>
      <mat-label for="login">Login</mat-label>
      <input matInput type="text" name="login" formControlName="login">
    </mat-form-field>
    <crm-help [field]="loginForm.get('login')!"
              [errorMessages]="{
                required : 'login est obligatoire',
                minlength: 'login doit être d\'au moins 3 caractères'
              }">
    </crm-help>
  </p>
  <p>
    <mat-form-field>
      <mat-label for=""password>Password</mat-label>
      <input matInput type="password" name="password" id="password" formControlName="password">
    </mat-form-field>
  </p>
  <button mat-button color="primary" type="submit" [disabled]="!loginForm.valid">Login</button>
</form>
